{% extends 'base.html' %}
{% load static %}
{% block title %}Создание комментария{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main/create_comment.css' %}">
    <style>
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="links">
        <a class="link" href="{% url 'main_page' %}">На главную</a>
        <a class="link" href="{% url 'comments_page' %}">Список комментариев</a>
        <a class="link" href="{% url 'tasks_page' %}">Список задач</a>
        <a class="link" href="{% url 'students_page' %}">Студенты</a>
    </div>
    <hr>
    <h1 class="title">Решите задачу: {{ task.name }}</h1>
    <div class="task-item">
        {% if messages %}
        <ul class="error">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if has_solve %}
            <p>Вы уже решили эту задачу</p>
        {% else %}
            <form class="form" action="{% url 'complete_task' task_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="student">Студент:</label>
                    <select name="student" id="student">
                        {% for student in students %}
                            <option value="{{ student.id }}">{{ student }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="task">Задача:</label>
                    <select name="task" id="task">
                        <option value="{{ task.id }}" selected>{{ task }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="solution">Решение:</label>
                    <textarea name="solution" id="solution"></textarea>
                </div>
                <input class="submit-button" type="submit" value="Решить">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}